
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Global Styles */
body {
  background-color: #FFFAEC; /* Tailwind handles this, but you can set a global default */
  color: #000000; /* Default text color */
  font-family: 'Scheherazade New', serif; /* Matches your design system */
  margin: 0;
  padding: 0;
}

a {
  color: #0066FF; /* Link color */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Form Field Styles (optional) */
input, textarea {
  border: 1px solid rgba(0, 0, 0, 0.33); /* Matches your design system */
  padding: 12px;
  font-family: 'Figtree', sans-serif;
  font-size: 24px;
}

input:focus, textarea:focus {
  border-color: rgba(0, 0, 0, 1); /* Full opacity on focus */
  outline: none;
}
/* Hide scrollbars for carousels */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

